<section class="blog-sec">

    <div class="blog-sec__wrapper">
        <h1 class="blog-sec__title">Блог</h1>
        <p class="blog-sec__subtitle">Все самое нужное, чтобы сделать важный выбор на основе детальной
            информации из проверенного источника, которая обновляется ежедневно.</p>
        <nav class="blog-sec__nav">
            <ul class="blog-sec__nav-ul">
                <li class="blog-sec__nav-li">
                    <a href="" class="blog-sec__nav-link blog-sec__nav-link--activ">Кредитование</a>
                </li>
                <li class="blog-sec__nav-li">
                    <a href="" class="blog-sec__nav-link">Строительство</a>
                </li>
                <li class="blog-sec__nav-li">
                    <a href="" class="blog-sec__nav-link">Иновации</a>
                </li>
            </ul>
        </nav>

        <div class="blog-sec__post-container">

            <div class="blog-sec__post blog-post">
                <a href="/post" class="blog-post__image-wrapper">
                    <img src="/src/img/_src/post1.jpg" alt="" class="blog-post__image">
                </a>
                <p class="blog-post__date">21 июня 2025</p>
                <div class="blog-post__header">
                    <p class="blog-post__title">
                        Новостройки Москвы — как купить квартиру в новостройке Москвы?
                    </p>
                    <a href="" class="blog-post__link-ar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 7C8 6.44772 8.44772 6 9 6L17 6C17.5523 6 18 6.44772 18 7V15C18 15.5523 17.5523 16 17 16C16.4477 16 16 15.5523 16 15V9.41421L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L14.5858 8L9 8C8.44772 8 8 7.55228 8 7Z"
                                fill="#85D2A9" />
                        </svg>

                    </a>
                </div>

                <p class="blog-post__subtitle">В данной статье мы расскажем Вам, про самые
                    выдающие новостройки Москвы. Рассмотрим отзывы покупателей, ценовую политику,
                    расположение, благоустройство...</p>

                <div class="blog-post__teg-row">
                    <a href="" class="blog-post__teg">Кредитование</a>

                    <a href="" class="blog-post__teg">Иновации</a>

                    <a href="" class="blog-post__teg">Строительство</a>
                </div>

            </div>

            <div class="blog-sec__post blog-post">
                <a href="" class="blog-post__image-wrapper">
                    <img src="/src/img/_src/post3.jpg" alt="" class="blog-post__image">
                </a>
                <p class="blog-post__date">21 июня 2025</p>
                <div class="blog-post__header">
                    <p class="blog-post__title">
                        Новостройки Москвы — как купить квартиру в новостройке Москвы?
                    </p>
                    <a href="" class="blog-post__link-ar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 7C8 6.44772 8.44772 6 9 6L17 6C17.5523 6 18 6.44772 18 7V15C18 15.5523 17.5523 16 17 16C16.4477 16 16 15.5523 16 15V9.41421L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L14.5858 8L9 8C8.44772 8 8 7.55228 8 7Z"
                                fill="#85D2A9" />
                        </svg>

                    </a>
                </div>

                <p class="blog-post__subtitle">В данной статье мы расскажем Вам, про самые
                    выдающие новостройки Москвы. Рассмотрим отзывы покупателей, ценовую политику,
                    расположение, благоустройство...</p>

                <div class="blog-post__teg-row">
                    <a href="" class="blog-post__teg">Кредитование</a>

                    <a href="" class="blog-post__teg">Иновации</a>

                    <a href="" class="blog-post__teg">Строительство</a>
                </div>

            </div>

            <div class="blog-sec__post blog-post">
                <a href="" class="blog-post__image-wrapper">
                    <img src="/src/img/_src/post3.jpg" alt="" class="blog-post__image">
                </a>
                <p class="blog-post__date">21 июня 2025</p>
                <div class="blog-post__header">
                    <p class="blog-post__title">
                        Новостройки Москвы — как купить квартиру в новостройке Москвы?
                    </p>
                    <a href="" class="blog-post__link-ar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 7C8 6.44772 8.44772 6 9 6L17 6C17.5523 6 18 6.44772 18 7V15C18 15.5523 17.5523 16 17 16C16.4477 16 16 15.5523 16 15V9.41421L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L14.5858 8L9 8C8.44772 8 8 7.55228 8 7Z"
                                fill="#85D2A9" />
                        </svg>

                    </a>
                </div>

                <p class="blog-post__subtitle">В данной статье мы расскажем Вам, про самые
                    выдающие новостройки Москвы. Рассмотрим отзывы покупателей, ценовую политику,
                    расположение, благоустройство...</p>

                <div class="blog-post__teg-row">
                    <a href="" class="blog-post__teg">Кредитование</a>

                    <a href="" class="blog-post__teg">Иновации</a>

                    <a href="" class="blog-post__teg">Строительство</a>
                </div>

            </div>


            <div class="blog-sec__post blog-post">
                <a href="" class="blog-post__image-wrapper">
                    <img src="/src/img/_src/post4.jpg" alt="" class="blog-post__image">
                </a>
                <p class="blog-post__date">21 июня 2025</p>
                <div class="blog-post__header">
                    <p class="blog-post__title">
                        Новостройки Москвы — как купить квартиру в новостройке Москвы?
                    </p>
                    <a href="" class="blog-post__link-ar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 7C8 6.44772 8.44772 6 9 6L17 6C17.5523 6 18 6.44772 18 7V15C18 15.5523 17.5523 16 17 16C16.4477 16 16 15.5523 16 15V9.41421L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L14.5858 8L9 8C8.44772 8 8 7.55228 8 7Z"
                                fill="#85D2A9" />
                        </svg>

                    </a>
                </div>

                <p class="blog-post__subtitle">В данной статье мы расскажем Вам, про самые
                    выдающие новостройки Москвы. Рассмотрим отзывы покупателей, ценовую политику,
                    расположение, благоустройство...</p>

                <div class="blog-post__teg-row">
                    <a href="" class="blog-post__teg">Кредитование</a>

                    <a href="" class="blog-post__teg">Иновации</a>

                    <a href="" class="blog-post__teg">Строительство</a>
                </div>

            </div>


            <div class="blog-sec__post blog-post">
                <a href="" class="blog-post__image-wrapper">
                    <img src="/src/img/_src/post5.jpg" alt="" class="blog-post__image">
                </a>
                <p class="blog-post__date">21 июня 2025</p>
                <div class="blog-post__header">
                    <p class="blog-post__title">
                        Новостройки Москвы — как купить квартиру в новостройке Москвы?
                    </p>
                    <a href="" class="blog-post__link-ar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 7C8 6.44772 8.44772 6 9 6L17 6C17.5523 6 18 6.44772 18 7V15C18 15.5523 17.5523 16 17 16C16.4477 16 16 15.5523 16 15V9.41421L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L14.5858 8L9 8C8.44772 8 8 7.55228 8 7Z"
                                fill="#85D2A9" />
                        </svg>

                    </a>
                </div>

                <p class="blog-post__subtitle">В данной статье мы расскажем Вам, про самые
                    выдающие новостройки Москвы. Рассмотрим отзывы покупателей, ценовую политику,
                    расположение, благоустройство...</p>

                <div class="blog-post__teg-row">
                    <a href="" class="blog-post__teg">Кредитование</a>

                    <a href="" class="blog-post__teg">Иновации</a>

                    <a href="" class="blog-post__teg">Строительство</a>
                </div>

            </div>


            <div class="blog-sec__post blog-post">
                <a href="" class="blog-post__image-wrapper">
                    <img src="/src/img/_src/post6.jpg" alt="" class="blog-post__image">
                </a>
                <p class="blog-post__date">21 июня 2025</p>
                <div class="blog-post__header">
                    <p class="blog-post__title">
                        Новостройки Москвы — как купить квартиру в новостройке Москвы?
                    </p>
                    <a href="" class="blog-post__link-ar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 7C8 6.44772 8.44772 6 9 6L17 6C17.5523 6 18 6.44772 18 7V15C18 15.5523 17.5523 16 17 16C16.4477 16 16 15.5523 16 15V9.41421L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L14.5858 8L9 8C8.44772 8 8 7.55228 8 7Z"
                                fill="#85D2A9" />
                        </svg>

                    </a>
                </div>

                <p class="blog-post__subtitle">В данной статье мы расскажем Вам, про самые
                    выдающие новостройки Москвы. Рассмотрим отзывы покупателей, ценовую политику,
                    расположение, благоустройство...</p>

                <div class="blog-post__teg-row">
                    <a href="" class="blog-post__teg">Кредитование</a>

                    <a href="" class="blog-post__teg">Иновации</a>

                    <a href="" class="blog-post__teg">Строительство</a>
                </div>

            </div>

        </div>


        <div class="pagination-wrapper pagination-wrapper--blog">
            <div class="pagination">
                <a class="prev page-numbers" href="">« Назад</a>
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="">2</a>
                <a class="page-numbers" href="">3</a>
                <span class="page-numbers dots">…</span>
                <a class="page-numbers" href="">12</a>
                <a class="next page-numbers" href="">Вперед
                    »</a>
            </div>
        </div>
    </div>
</section>