<section class="developer-sec">
    <div class="container">
        <h1 class="developer-sec__title">Продавцы и застройщики России</h1>
        <div class="developer-sec__description">Каталог застройщиков включает более тысячи строительных организаций,
            которые возводят новостройки по всей России. Здесь представлены как крупные девелоперы, так и небольшие
            компании-подрядчики, имеющие в своем портфеле лишь несколько объектов.</div>

        <div class="developer-sec__wrapper">
            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}

            {{> components/developer-card }}
        </div>

        <div class="pagination-wrapper pagination-wrapper--developers">
            <div class="pagination">
                <a class="prev page-numbers" href="">« Назад</a>
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="">2</a>
                <a class="page-numbers" href="">3</a>
                <span class="page-numbers dots">…</span>
                <a class="page-numbers" href="">12</a>
                <a class="next page-numbers" href="">Вперед
                    »</a>
            </div>
        </div>
    </div>
</section>