<section class="objects-catalog-sec">
    <div class="container">
        <h1 class="objects-catalog-sec__title">
            Новостройки Москвы — список сданных и строящихся объектов
        </h1>

        <p class="objects-catalog-sec__description">
            Воспользуйтесь базой новостроек Москвы для того, чтобы купить
            квартиру в корпусе, готовом к заселению. На нашем сайте представлено
            1673 жилых комплекса и более 48 615 готовых квартир от застройщиков.
            Подобрать квартиру под свой бюджет легко: выберете комнатность,
            способы покупки, а также установите границу цен.
        </p>

        <div class="objects-catalog-sec__filtr-row">
            <div class="objects-catalog-sec__filtr-row-main">

                <div class="objects-filtrs">
                    <div class="objects-filtrs__element filtr-counts-object">
                        <div class="filtr-counts-object__element">Сдан</div>
                        <div class="filtr-counts-object__element">Строится</div>
                        <div class="filtr-counts-object__element">Не начато</div>
                        <div class="filtr-counts-object__element">Заморожено</div>
                    </div>
                    <select class="objects-filtrs__select">
                        <option disabled="" selected="" hidden="" value="">Выберите опцию</option>
                        <option value="Элит">Элит</option>
                        <option value="Премиум">Премиум</option>
                        <option value="Бизнес">Бизнес</option>
                        <option value="Комфорт">Комфорт</option>
                        <option value="Эконом">Эконом</option>
                    </select>

                    <div class="objects-filtrs__price-wrapper">
                        <input type="text" class="objects-filtrs__price-input" placeholder="Цена от">
                        <input type="text" class="objects-filtrs__price-input" placeholder="Цена до">
                    </div>


                    <div class="apartment-filtrs__btn-row">

                        <div class="apartment-filtrs__clear-filtrs "><svg width="24" height="24" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"
                                    fill="white"></path>
                            </svg>
                        </div>

                        <div class="apartment-filtrs__clear-filtrs apartment-filtrs__search-filtrs"><svg width="21"
                                height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.83312 16.0453C4.70531 16.0453 1.3591 12.7575 1.3591 8.69531C1.3591 4.63312 4.70531 1.33878 8.83312 1.33878C12.9609 1.33878 16.3078 4.63312 16.3078 8.69531C16.3078 12.7575 12.9609 16.0453 8.83312 16.0453ZM20.7952 19.8516L15.3753 14.5162C16.7941 12.9741 17.6663 10.9397 17.6663 8.69531C17.6663 3.89156 13.7117 0 8.83312 0C3.95456 0 0 3.89156 0 8.69531C0 13.4925 3.95456 17.3841 8.83312 17.3841C10.941 17.3841 12.8743 16.6556 14.3929 15.4416L19.8345 20.7965C20.1003 21.059 20.5301 21.059 20.7952 20.7965C21.061 20.5406 21.061 20.1141 20.7952 19.8516Z"
                                    fill="white"></path>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btn-map-filtr mapBtnTest">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13 6.5H13.0108M9.75 21.6667L3.25 18.4167V4.33333L5.41667 5.41667M9.75 21.6667L16.25 18.4167M9.75 21.6667V15.1667M16.25 18.4167L22.75 21.6667V7.58333L20.5833 6.5M16.25 18.4167V15.1667M16.25 6.71667C16.25 8.63125 14.625 10.1833 13 11.9167C11.375 10.1833 9.75 8.63125 9.75 6.71667C9.75 4.80208 11.205 3.25 13 3.25C14.795 3.25 16.25 4.80208 16.25 6.71667Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <span>Смотреть на карте</span>
            </div>
        </div>

        <div class="objects-catalog-sec__wrapper">
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
            {{> components/object }}
        </div>

        <div class="objects-catalog-sec__load-more-btn-wrapper">
            <button class="apartments-claster__load-more">
                Загрузить еще (12)</button>
        </div>

        <div class="pagination-wrapper pagination-wrapper--objects">
            <div class="pagination">
                <a class="prev page-numbers" href="">« Назад</a>
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="">2</a>
                <a class="page-numbers" href="">3</a>
                <span class="page-numbers dots">…</span>
                <a class="page-numbers" href="">12</a>
                <a class="next page-numbers" href="">Вперед »</a>
            </div>
        </div>
    </div>
</section>

{{> components/mapObjectPage }}