.objects-filtrs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .apartment-filtrs__clear-filtrs {
        width: 46px;
        height: 46px;
    }
}

.filtr-counts-object {
    display: flex;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
    margin-right: 30px;
}

.filtr-counts-object__element {

    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    border-right: solid 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all ease 0.3s;
    padding: 15px;


    &:hover {
        background: $greenV4;
        transition: all ease 0.3s;
        color: $white;
    }

    &:last-child {
        border-right: none;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

    &:first-child {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    &.activ {
        background: $greenV4;
        transition: all ease 0.3s;
        color: $white;
    }
}

.objects-filtrs__select {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
    padding: 12.5px;
    margin-right: 30px;
}

.objects-filtrs__price-wrapper {
    display: flex;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
    margin-right: 30px;
}

.objects-filtrs__price-input {
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border: none;
    transition: all ease 0.3s;
    padding: 13.5px;
    width: 160px;

    &:last-child {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

    &:first-child {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        border-right: solid 1px rgba(0, 0, 0, 0.05);
    }

}

.apartment-filtrs__search-filtrs {
    margin-left: 15px;
}

.apartment-filtrs__btn-row {
    display: flex;
}

@media only screen and (max-width: 1280px) {


    .filtr-counts-object {
        margin-bottom: 20px;
    }

    .objects-filtrs__select {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 780px) {
    .objects-filtrs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filtr-counts-object {
        margin-right: 0;
        width: 100%;
        order: 1;
    }

    .filtr-counts-object__element {
        font-size: 13px;
        padding: 12px;
    }

    .objects-filtrs__select {
        margin-right: 0;
        font-size: 13px;
        padding: 11px;
        order: 3;
        margin-bottom: 0;
    }

    .objects-filtrs__price-wrapper {
        order: 2;
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .objects-filtrs__price-input {
        font-size: 13px;
        padding: 12px;
        width: 50%;
    }

    .apartment-filtrs__btn-row {
        order: 4;
    }

    .objects-filtrs__select {
        width: 230px;
    }

    .objects-filtrs .apartment-filtrs__clear-filtrs {
        width: 40px;
        height: 40px;

        svg {
            width: 20px;
        }
    }
}