.apartment-filtrs__element {
    margin-right: 30px;
    display: flex;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
}

.apartment-filtrs {
    display: flex;
    align-items: center;
}

.filtr-counts__element {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-right: solid 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        background: $greenV4;
        transition: all ease 0.3s;
        color: $white;
    }

    &:last-child {
        border-right: none;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
}

.filtr-counts__element--middle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    width: auto;
    padding: 0 15px;
}

.filtr-counts__element--big {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    width: auto;
    padding: 0 25px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.filtr-counts__element.activ {
    background: $greenV4;
    transition: all ease 0.3s;
    color: $white;
}

.price-counts__input {
    color: rgba(11, 35, 51, 0.8);

    width: 200px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 16px 15px;
    border: none;
    border-right: solid 1px rgba(0, 0, 0, 0.05);

    &::placeholder {
        color: rgba(11, 35, 51, 0.51);
    }

    &:first-child {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    &:last-child {
        border-right: none;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
}

.apartment-filtrs__clear-filtrs {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: $greenV1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    cursor: pointer;

    svg {
        display: block;
        transition: all ease 0.3s;
    }

    &:hover {
        background: $greenV2;
        transition: all ease 0.3s;

        svg {
            transform: scale(1.2);
            transition: all ease 0.3s;
        }
    }
}

.filtr-select {
    margin-right: 30px;
}

@media only screen and (max-width: 1280px) {
    .apartment-filtrs {
        flex-wrap: wrap;
    }

    .apartment-filtrs__element {
        margin-bottom: 30px;
    }

    .apartment-filtrs__clear-filtrs {
        margin-bottom: 30px;
    }

    .filtr-select {
        margin-bottom: 30px;
        margin-right: 0;
        width: 323px;

        .__select {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 780px) {
    .price-counts__input {
        width: 50%;
    }

    .apartment-filtrs__element {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .apartment-filtrs {
        justify-content: space-between;
    }

    .filtr-counts {
        order: 0;
    }

    .apartment-filtrs__clear-filtrs {
        order: 1;
        margin-bottom: 15px;
    }

    .price-counts {
        order: 2;
        width: 100%;
    }

    .level-counts {
        width: 100%;
        order: 3;
    }

    .filtr-select {
        order: 3;
        width: 100%;
    }

    .filtr-counts__element--big {
        padding-left: 12px;
        padding-right: 12px;
    }

    .objects-catalog-sec {
        .filtr-counts__element--middle {
            font-size: 14px;
        }

        .filtr-counts__element--big {
            font-size: 14px;
        }
    }
}
