.map-objects-popup {
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    background: #fff;
    left: 0;
    top: 0;
    display: none;
}

.map-objects-popup__close {
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: $greenV1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.map-objects-popup__filtrs-wrapper {
    position: absolute;
    z-index: 10;
    width: 1200px;
    // background: $white;
    border-radius: 10px;
    left: calc(50% - 600px);
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.map-objects-popup__filtr-btn-open {
    display: none;
}

@media only screen and (max-width: 1400px) {
    .map-objects-popup__filtrs-wrapper {
        justify-content: flex-start;
        left: 30px;
        top: 90px;
        width: 492px;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #fff;
        padding: 20px;

        .filtr-counts-object {
            margin-right: 0;
            width: 100%;
            order: 1;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .objects-filtrs__select {
            order: 3;
            width: 250px;
            margin-bottom: 0;
        }

        .objects-filtrs__price-wrapper {
            order: 2;
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .apartment-filtrs__btn-row {
            order: 4;
            margin-bottom: 0;
        }

        .apartment-filtrs__clear-filtrs {
            margin-bottom: 0;
        }
    }

    .map-objects-popup__filtr-btn-open {
        display: inline-flex;
        align-items: center;
        background: $greenV1;
        position: absolute;
        z-index: 10;
        left: 30px;
        top: 30px;
        border-radius: 10px;
        padding: 13px 30px;
        color: $white;
        font-size: 16px;


        svg {
            display: block;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 780px) {
    .map-objects-popup__filtrs-wrapper {
        width: 400px;
        display: none;

        &.open {
            display: flex;
        }

        .apartment-filtrs__clear-filtrs {
            width: 40px;
            height: 40px;
        }
    }
}

@media only screen and (max-width: 460px) {
    .map-objects-popup__filtr-btn-open {
        left: 15px;
        top: 15px;
        padding: 12px 15px;
        font-size: 14px;

        svg {
            width: 20px;
            height: auto;
        }
    }

    .map-objects-popup__close {
        width: 44px;
        height: 44px;
        top: 15px;
        right: 15px;
    }

    .map-objects-popup__filtrs-wrapper {
        width: calc(100% - 30px);
        left: 15px;
        top: 80px;
    }

    .map-objects-popup__filtrs-wrapper {
        padding: 15px 10px;

        .objects-filtrs__select {
            width: 180px;
        }

        .filtr-counts-object__element {
            font-size: 12px;
            padding: 12px 0;
            width: 100%;
            text-align: center;
            padding-left: 5px;
            margin-right: 5px;
            margin-right: 0;
        }

        .filtr-counts-object {
            margin-bottom: 10px;
        }

        .objects-filtrs__price-wrapper {
            margin-bottom: 10px;
        }
    }
}