.wp-text {
    p {
        color: rgba(28, 39, 76, 0.60);
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        margin-bottom: 30px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        color: rgba(28, 39, 76, 0.80);
        line-height: 1.2;
        margin-bottom: 20px;
    }

    h1,
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 22px;
    }

    a {
        color: $greenV4;
        text-decoration: underline;
    }

    ul {
        padding-left: 22px;
        padding-bottom: 20px;

        li {
            color: rgba(28, 39, 76, 0.69);
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 126%;
            /* 22.68px */
            margin-bottom: 20px;
            position: relative;

            &::before {
                position: absolute;
                width: 10px;
                height: 10px;
                background: rgba(28, 39, 76, 0.69);
                content: "";
                left: -22px;
                top: 8px;
            }
        }
    }

    ol {
        padding-left: 22px;
        padding-bottom: 20px;

        li {
            color: rgba(28, 39, 76, 0.69);
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 126%;
            /* 22.68px */
            margin-bottom: 20px;
            position: relative;
            list-style-type: decimal;

        }
    }
}



@media only screen and (max-width: 1540px) {
    .wp-text {
        p {
            font-size: 18px;
        }

        h1,
        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 26px;
        }

        h4 {
            font-size: 22px;
        }

        h5 {
            font-size: 18px;
        }

        ul {
            li {
                font-size: 18px;
            }
        }

        ol {
            li {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    .wp-text {
        p {
            font-size: 16px;
        }

        h1,
        h2 {
            font-size: 28px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 16px;
        }

        ul {
            li {
                font-size: 16px;
            }
        }

        ol {
            li {
                font-size: 16px;
            }
        }
    }
}