<a href="" class="apartment-v2">
    <div class="apartment-v2__img-wrapper">
        <img src="/src/img/_src/apartment.png" alt="" class="apartment-v2__img">
    </div>

    <div class="apartment-v2__data">
        <p class="apartment-v2__title">1-комнатная квартира 65.1 м² в ЖК Hide</p>
        <div class="apartment-v2__row">
            <div class="apartment-v2__col apartment-v2__col--adress">
                <p class="apartment-v2__col-title">Адрес</p>
                <p class="apartment-v2__col-value">Москва, ЗАО, Раменки</p>
            </div>
            <div class="apartment-v2__col apartment-v2__col--data">
                <p class="apartment-v2__col-title">К-во комнат</p>
                <p class="apartment-v2__col-value">2 комнаты</p>
            </div>
            <div class="apartment-v2__col apartment-v2__col--data">
                <p class="apartment-v2__col-title">Площадь</p>
                <p class="apartment-v2__col-value">64,5 м²</p>
            </div>
            <div class="apartment-v2__col apartment-v2__col--data">
                <p class="apartment-v2__col-title">Этаж</p>
                <p class="apartment-v2__col-value">2 этаж</p>
            </div>
            <div class="apartment-v2__col apartment-v2__col--price">
                <p class="apartment-v2__col-title">Стоимость</p>
                <p class="apartment-v2__col-value">47 327 700 ₽</p>
            </div>
        </div>

    </div>
</a>