<div class="apartment-obj">
    <a href="/apartment" class="apartment-obj__img-wrapper">
        <img src="/src/img/_src/apart-obj.jpg" alt="" class="apartment-obj__img">

        <div class="object__sale">Скидка -5%</div>

        <div class="object__status-row">
            <!-- <div class="object__status-element">Строиться</div> -->
            <div class="object__status-element">Премиум</div>
        </div>
    </a>

    <div class="apartment-obj__data">
        <p class="apartment-obj__title">
            <a href="/apartment" class="apartment-obj__title-link">Годовикова, 11к2, Москва</a>
        </p>

        <div class="apartment-obj__parametrs">
            <div class="apartment-obj__parametr">
                <p class="apartment-obj__parametr-title">₽ 5’568’000 </p>
                <p class="apartment-obj__parametr-subtitle">Стоимость</p>
            </div>

            <div class="apartment-obj__parametr">
                <p class="apartment-obj__parametr-title">3</p>
                <p class="apartment-obj__parametr-subtitle">Комнат</p>
            </div>

            <div class="apartment-obj__parametr">
                <p class="apartment-obj__parametr-title">67</p>
                <p class="apartment-obj__parametr-subtitle">м2</p>
            </div>

            <div class="apartment-obj__parametr">
                <p class="apartment-obj__parametr-title">4/9</p>
                <p class="apartment-obj__parametr-subtitle">Этаж</p>
            </div>
        </div>
    </div>
</div>