<div class="apartment">
    <div class="apartment__top">
        <p class="apartment__title">Студия: 30.5 кв²</p>
        <p class="apartment__prise">7 600 000 ₽</p>
        <div class="apartment__img-wrapper">
            <img src="/src/img/_src/apartment.png" alt="" class="apartment__img">
        </div>
        <div class="apartment__char-list">
            <div class="apartment__char">58,0000 ₽/кв²</div>
            <div class="apartment__char">Срок сдачи: 3кв 2023</div>
            <div class="apartment__char">5/23</div>
        </div>
    </div>
    <div class="apartment__down">
        <a href="" class="apartment__btn">Смотреть планировку</a>
    </div>
</div>