<div class="developer-card">
    <div class="developer-card__header">
        <a href="" class="developer-card__logo-wrapper">
            <img src="/src/img/_src/developer.png" alt="" class="developer-card__logo">
        </a>

        <div class="developer-card__header-data">
            <div class="developer-card__rate-row">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2050_10768)">
                        <path
                            d="M8.99952 0H6.99952L5.51243 4.57681L0.700066 4.57682L0.0820312 6.47893L3.97532 9.30756L2.48824 13.8843L4.10628 15.0599L7.99953 12.2313L11.8928 15.0599L13.5108 13.8843L12.0237 9.30754L15.917 6.47892L15.2989 4.57681H10.4866L8.99952 0Z"
                            fill="#85D2A9" />
                    </g>
                    <defs>
                        <clipPath id="clip0_2050_10768">
                            <rect width="16" height="16" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2050_10768)">
                        <path
                            d="M8.99952 0H6.99952L5.51243 4.57681L0.700066 4.57682L0.0820312 6.47893L3.97532 9.30756L2.48824 13.8843L4.10628 15.0599L7.99953 12.2313L11.8928 15.0599L13.5108 13.8843L12.0237 9.30754L15.917 6.47892L15.2989 4.57681H10.4866L8.99952 0Z"
                            fill="#85D2A9" />
                    </g>
                    <defs>
                        <clipPath id="clip0_2050_10768">
                            <rect width="16" height="16" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2050_10768)">
                        <path
                            d="M8.99952 0H6.99952L5.51243 4.57681L0.700066 4.57682L0.0820312 6.47893L3.97532 9.30756L2.48824 13.8843L4.10628 15.0599L7.99953 12.2313L11.8928 15.0599L13.5108 13.8843L12.0237 9.30754L15.917 6.47892L15.2989 4.57681H10.4866L8.99952 0Z"
                            fill="#85D2A9" />
                    </g>
                    <defs>
                        <clipPath id="clip0_2050_10768">
                            <rect width="16" height="16" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2050_10768)">
                        <path
                            d="M8.99952 0H6.99952L5.51243 4.57681L0.700066 4.57682L0.0820312 6.47893L3.97532 9.30756L2.48824 13.8843L4.10628 15.0599L7.99953 12.2313L11.8928 15.0599L13.5108 13.8843L12.0237 9.30754L15.917 6.47892L15.2989 4.57681H10.4866L8.99952 0Z"
                            fill="#85D2A9" />
                    </g>
                    <defs>
                        <clipPath id="clip0_2050_10768">
                            <rect width="16" height="16" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2050_10768)">
                        <path
                            d="M8.99952 0H6.99952L5.51243 4.57681L0.700066 4.57682L0.0820312 6.47893L3.97532 9.30756L2.48824 13.8843L4.10628 15.0599L7.99953 12.2313L11.8928 15.0599L13.5108 13.8843L12.0237 9.30754L15.917 6.47892L15.2989 4.57681H10.4866L8.99952 0Z"
                            fill="#85D2A9" />
                    </g>
                    <defs>
                        <clipPath id="clip0_2050_10768">
                            <rect width="16" height="16" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

            </div>
            <div class="developer-card__rate-value">
                <span class="developer-card__rate-value-current">4.7</span>
                <span class="developer-card__rate-value-all">/ 5</span>
            </div>
            <div class="developer-card__location">
                Раен работы: <span>Москва и обл.</span>
            </div>
        </div>
    </div>

    <div class="developer-card__body">
        <div class="developer-card__title-wrapper">
            <p class="developer-card__subtitle">Застройщик:</p>
            <div class="developer-card__title-row">
                <p class="developer-card__title">Донстрой</p>
                <a href="/developer" class="developer-card__link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8 7C8 6.44772 8.44772 6 9 6L17 6C17.5523 6 18 6.44772 18 7V15C18 15.5523 17.5523 16 17 16C16.4477 16 16 15.5523 16 15V9.41421L7.70711 17.7071C7.31658 18.0976 6.68342 18.0976 6.29289 17.7071C5.90237 17.3166 5.90237 16.6834 6.29289 16.2929L14.5858 8L9 8C8.44772 8 8 7.55228 8 7Z"
                            fill="#85D2A9" />
                    </svg>
                </a>
            </div>
        </div>

        <ul class="developer-card__data-list">
            <li class="developer-card__data-list-element">
                <p class="developer-card__data-list-element-name">Год основания</p>
                <p class="developer-card__data-list-element-value">1998</p>
            </li>

            <li class="developer-card__data-list-element">
                <p class="developer-card__data-list-element-name">Домов строится</p>
                <p class="developer-card__data-list-element-value">167</p>
            </li>

            <li class="developer-card__data-list-element">
                <p class="developer-card__data-list-element-name">Домов сдано</p>
                <p class="developer-card__data-list-element-value">244</p>
            </li>

            <li class="developer-card__data-list-element">
                <p class="developer-card__data-list-element-name">Домов сдано вовремя</p>
                <p class="developer-card__data-list-element-value">15%</p>
            </li>
        </ul>
    </div>
</div>