<footer class="footer-2025">
    <div class="footer-2025__top">
        <div class="container">
            <div class="footer-2025__info">
                <a href="" class="footer-2025__logo">
                    <img src="/src/img/_src/logo.png" alt="" class="footer-2025__logo-img">
                </a>
                <p class="footer-2025__info-text">Сайт kvarnado.ru является одним из крупнейших в России архиватором
                    новостроек. Мы собираем данные только из открытых официальных источников предоставляемых
                    Министерством строительства Российской Федерации и единой информационной системой ЖС, а также фондом
                    защиты прав участников долевого строительства РФ.</p>
            </div>

            <div class="footer-2025__right">
                <div class="footer-2025__claster">
                    <p class="footer-2025__claster-title">Основыне разделы</p>
                    <nav class="footer-2025__claster-nav">
                        <ul class="footer-2025__claster-nav-list">
                            <li><a href="">Новостройки</a></li>
                            <li><a href="">Застройшики</a></li>
                            <li><a href="">Квартиры</a></li>
                            <li><a href="">Блог</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="footer-2025__claster">
                    <p class="footer-2025__claster-title">Контактные данные</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2025__down">
        <div class="container">
            <nav class="footer-2025__down-nav">
                <ul class="footer-2025__down-nav-list">
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Оферта</a></li>
                    <li><a href="">Оработка персональных данных</a></li>
                </ul>
            </nav>

            <p class="footer-2025__down-developer">
                Дизайн и разработка: <a href="">Name Developer</a>
            </p>
        </div>
    </div>
</footer>

{{> modals }}

</div>

<script type="module" src="./src/js/main.js"></script>
</body>

</html>