<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Vite Template</title>
</head>

<body>
    <div class="app">
        <header class="header-2025">
            <div class="header-2025__container header-2025__container--top">
                <div class="header-2025__left">
                    <a href="" class="header-2025__logo">
                        <img src="/src/img/_src/logo.png" alt="" class="header-2025__logo-img">
                        <img src="/src/img/_src/mob-logo.png" alt="" class="header-2025__logo-img-mob">
                    </a>
                </div>

                <nav class="header-2025__nav">
                    <ul class="header-2025__nav-list">
                        <li class="current-menu-item"><a href="/objects-list">Новостройки</a></li>
                        <li><a href="/developers">Застройщики</a></li>
                        <li><a href="/apartments">Квартиры</a></li>
                        <li><a href="/blog">Блог</a></li>
                    </ul>
                </nav>

                <div class="header-2025__controls-row">

                    <div class="header-2025__icon search-header">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2046_6278)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.83312 16.0453C4.70531 16.0453 1.3591 12.7575 1.3591 8.69531C1.3591 4.63312 4.70531 1.33878 8.83312 1.33878C12.9609 1.33878 16.3078 4.63312 16.3078 8.69531C16.3078 12.7575 12.9609 16.0453 8.83312 16.0453ZM20.7952 19.8516L15.3753 14.5162C16.7941 12.9741 17.6663 10.9397 17.6663 8.69531C17.6663 3.89156 13.7117 0 8.83312 0C3.95456 0 0 3.89156 0 8.69531C0 13.4925 3.95456 17.3841 8.83312 17.3841C10.941 17.3841 12.8743 16.6556 14.3929 15.4416L19.8345 20.7965C20.1003 21.059 20.5301 21.059 20.7952 20.7965C21.061 20.5406 21.061 20.1141 20.7952 19.8516Z"
                                    fill="#1C274C" fill-opacity="0.5" />
                            </g>
                            <defs>
                                <clipPath id="clip0_2046_6278">
                                    <rect width="21" height="21" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>


                    <div class="header-2025__icon like-header">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 4.52765C9.64418 2.41689 6.02125 2.49347 3.75736 4.75736C1.41421 7.1005 1.41421 10.8995 3.75736 13.2426L10.5858 20.0711C11.3668 20.8521 12.6332 20.8521 13.4142 20.0711L20.2426 13.2426C22.5858 10.8995 22.5858 7.1005 20.2426 4.75736C17.9787 2.49347 14.3558 2.41689 12 4.52765ZM10.8284 6.17157L11.2929 6.63604C11.6834 7.02656 12.3166 7.02656 12.7071 6.63604L13.1716 6.17157C14.7337 4.60948 17.2663 4.60948 18.8284 6.17157C20.3905 7.73367 20.3905 10.2663 18.8284 11.8284L12 18.6569L5.17157 11.8284C3.60948 10.2663 3.60948 7.73367 5.17157 6.17157C6.73367 4.60948 9.26633 4.60948 10.8284 6.17157Z"
                                fill="#1C274C" fill-opacity="0.5" />
                        </svg>

                    </div>

                    <button class="header-2025__btn-autorisation" data-engram-button="auth">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 3C7.34315 3 6 4.34315 6 6C6 7.65685 7.34315 9 9 9C10.6569 9 12 7.65685 12 6C12 4.34315 10.6569 3 9 3ZM4.5 6C4.5 3.51472 6.51472 1.5 9 1.5C11.4853 1.5 13.5 3.51472 13.5 6C13.5 8.48528 11.4853 10.5 9 10.5C6.51472 10.5 4.5 8.48528 4.5 6ZM6 13.5C4.75736 13.5 3.75 14.5074 3.75 15.75C3.75 16.1642 3.41421 16.5 3 16.5C2.58579 16.5 2.25 16.1642 2.25 15.75C2.25 13.6789 3.92893 12 6 12H12C14.0711 12 15.75 13.6789 15.75 15.75C15.75 16.1642 15.4142 16.5 15 16.5C14.5858 16.5 14.25 16.1642 14.25 15.75C14.25 14.5074 13.2426 13.5 12 13.5H6Z"
                                fill="white" />
                        </svg>

                        Авторизоваться
                    </button>

                    <div class="header__user-auth-wrapeprt user-auth">
                        <div class="user-auth__main">
                            <div class="user-auth__icon-wrapper">
                                <img src="" alt="" class="user-auth__icon">
                            </div>
                            <p class="user-auth__name">gears2131</p>
                        </div>

                        <div class="user-auth__dropdown-meny">
                            <ul class="user-auth__dropdown-menu-list">
                                <li class="user-auth__dropdown-menu-list-element">
                                    <a
                                        href="https://unsolacing-sharee-appointable.ngrok-free.dev/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Funsolacing-sharee-appointable.ngrok-free.dev%2F&amp;_wpnonce=61e00c04c8">
                                        Выйти
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="header-2025__burger">
                        <div class="header-2025__burger-line header-2025__burger-line--v1"></div>
                        <div class="header-2025__burger-line header-2025__burger-line--v2"></div>
                    </div>
                </div>
            </div>

            <div class="header-2025__mob-meny">
                <div class="header-2025__container">
                    <nav class="header-2025__mob-nav">
                        <ul class="header-2025__mob-nav-list">
                            <li class="current-menu-item"><a href="/">Новостройки</a></li>
                            <li><a href="">Застройщики</a></li>
                            <li><a href="">Квартиры</a></li>
                            <li><a href="">Блог</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </header>