@mixin btnStyleV1 {
    background: $greenV1;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;

    svg {
        margin-right: 10px;
        display: block;
    }

    &:hover {
        background: $greenV2;
        transition: all ease 0.3s;
    }
}