.object-header-sec {
    padding-top: 230px;
    padding-bottom: 60px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .object-preview-sec__btn {
        display: none;
    }
}

.object-header-sec__description {
    width: 615px;
}

.object-header-sec__description-text {
    color: $darkv1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    display: block;
}

.object-header-sec__title {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $darkBlueV1;
    width: calc(100% - 615px);
    padding-right: 30px;
    font-family: $titleFont;
}

.object-preview-sec {
    padding-bottom: 30px;
}

.object-preview-sec__wrapper {
    position: relative;
    overflow: hidden;
    height: 700px;
    width: 100%;
    border-radius: 20px;
}

.object-preview-sec__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.object-preview-sec__container {
    padding: 40px;
    height: 260px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    position: absolute;
    background: linear-gradient(180deg, rgba(10, 37, 52, 0.00) 0%, rgba(10, 37, 52, 0.50) 84.13%);
}

.object-preview-sec__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;





}

.object-preview-sec__char-row {
    display: flex;
    align-items: center;

}

.object-preview-sec__char-box {
    border-radius: 10px;
    border: 1px solid #FFF;
    margin-right: 15px;
    padding: 7px 25px;

    &:last-child {
        margin-right: 0;
    }
}

.object-preview-sec__char-box-title {
    color: #E6E9EE;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.object-preview-sec__char-box-value {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: $white;
    margin-top: 4px;
}

.object-preview-sec__price-value {
    display: flex;
    align-items: center;
}

.object-preview-sec__price {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-right: 23px;
    color: $white;

    span {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    b {
        font-weight: 400;
        color: $greenV3;
    }
}

.object-preview-sec__btn {
    padding: 16px 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: $greenV1;
    color: $white;
    transition: all ease 0.3s;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background: $greenV2;
        transition: all ease 0.3s;
    }
}

.object-main-data-wrapper {
    position: relative;
}

.object-nav-sec__list {
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 7px;
    background: rgba(223, 223, 223, 0.30);
    padding: 5px;
}

.object-nav-sec__link {
    display: inline-block;
    text-align: center;
    padding: 7px 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(28, 39, 76, 0.50);
}

.object-nav-sec__list-element--activ {
    .object-nav-sec__list-element--activ {
        background: $white;
        color: $darkBlueV2;
    }
}

.object-char-sec {
    padding-top: 80px;
    padding-bottom: 105px;
}

.object-title-sec {
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $darkBlueV1;
    font-family: $titleFont;
}

.object-char-sec__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-top: 50px;
}

.object-char-sec__element {
    width: calc((100% / 5) - 24px);
    margin: 0 12px 24px 12px;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
}

.object-char-sec__element-icon-wrapper {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $greenV4;

    img {
        width: 30px;
        display: block;
    }
}

.object-char-sec__element-data {
    width: calc(100% - 60px);
    padding: 0 15px;
}

.object-char-sec__element-name {
    color: rgba(28, 39, 76, 0.60);
    margin-bottom: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
}

.object-char-sec__element-value {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: $darkBlueV3;
    font-family: $titleFont;

    span {
        color: $greenV4;
    }
}



.object-char-sec__element-value--spall {
    font-size: 14px;

    b {
        font-weight: 500;

    }

}

.object-description-sec {
    padding-bottom: 130px;
}

.object-description-sec__wrapper {
    margin-top: 50px;
}

.object-description-sec__text-wrapper {
    overflow: hidden;
    max-height: 320px;
    position: relative;
    transition: all ease 0.5s;

    &::before {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 50px;
        content: "";
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    }
}

.object-description-sec__text-btn-wrapper {
    padding-top: 30px;
    border-top: solid 1px rgba(0, 0, 0, 0.10);
    margin-top: 30px;

}


.object-description-sec__text-btn {
    background: $greenV1;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
    padding: 16px 32px;
    font-size: 14px;
    font-weight: 500;

    svg {
        margin-left: 10px;
        display: block;
        transition: all ease 0.3s;
    }

    &:hover {
        background: $greenV2;
        transition: all ease 0.3s;
    }
}

.object-description-sec__text-btn.activ {
    svg {
        transform: rotate(180deg);
    }
}

.object-location-sec {
    padding-bottom: 130px;
}

.object-location-sec__maps-wrapper {
    width: 100%;
    height: 635px;
    margin-top: 50px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.map-object {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#map {
    width: 100%;
    height: 100%;

    .ymaps-2-1-79-controls__control_toolbar {
        display: none;
    }

    .ymaps-2-1-79-ground-pane {
        filter: grayscale(100%) sepia(10%) hue-rotate(190deg) saturate(120%) brightness(95%);
    }

    // .ymaps-2-1-79-copyrights-pane {
    //     filter: grayscale(100%) brightness(95%) contrast(90%);
    // }
    .ymaps-2-1-79-gototech {
        display: none;
    }

    // .ymaps-2-1-79-placemark-overlay {
    //     background: red;
    //     color: red;
    // }

    .ymaps_https___yastatic_net_s3_front_maps_static_maps_front_jsapi_v2_1_2_1_79_17366432_633106660104islands_circleDotIcon___1E98FF__1E98FF_27x27_1756503394681 {
        background: $greenV2;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            width: 15px;
            background: #E6E9EE;
            height: 15px;
            position: absolute;
            content: "";
            border-radius: 100px;
        }
    }
}


.object-location-sec__switch {
    position: absolute;
    z-index: 100;
    width: 300px;
    display: flex;
    background: $white;
    left: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 30px;
}

.object-location-sec__switch-element {
    width: 50%;
    color: #A5ADB7;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.object-location-sec__switch-element.activ {
    background: $greenV4;
    color: $white;

}

.object-location-sec__data {
    position: absolute;
    left: 30px;
    top: 110px;
    width: 350px;
    border-radius: 15px;
    background: $white;
    z-index: 10;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.object-location-sec__data-element {
    display: flex;
    align-items: flex-start;
    padding: 15px 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.11);

    &:last-child {
        border-bottom: none;
    }
}

.object-location-sec__data-icon {
    background: #E6E9EE;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: block;
    }
}

.object-location-sec__data-text {
    width: calc(100% - 40px);
    padding-left: 10px;
    padding-top: 3px;
}

.object-location-sec__data-name {
    color: rgba(28, 39, 76, 0.60);
    margin-bottom: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 12px */
}

.object-location-sec__data-value {
    color: $darkBlueV3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}


.map-filtrs {
    position: absolute;
    left: 30px;
    top: 110px;
    width: 350px;
    border-radius: 15px;
    background: $white;
    z-index: 10;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}



.map-radio-input {
    display: flex;
    align-items: flex-start;
    padding: 15px 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.11);

    &:last-child {
        border-bottom: none;
    }
}

/* Контейнер для одной радиокнопки и её метки */
.radio-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

/* Стилизация радиокнопки:
       - Убираем стандартное оформление с помощью appearance
       - Настраиваем размеры, границу и скругление */
.radio-input {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
}

/* Стилизация выбранного состояния радиокнопки */
.radio-input:checked {
    background-color: $greenV4;
    border-color: $greenV4;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

/* Стилизация отключённого состояния радиокнопки */
.radio-input:disabled {
    filter: none;
    opacity: 0.5;
    cursor: not-allowed;
}

/* Стилизация метки радиокнопки при отключённом состоянии */
.radio-input:disabled~.radio-label {
    opacity: 0.5;
    cursor: not-allowed;
}

.radio-label {
    margin-left: 15px;
    cursor: pointer;
}

.object-plans-sec {
    padding-bottom: 130px;
}

.object-plans-sec__wrapper {
    margin-top: 50px;
}

.apartment-filtrs__element {
    margin-right: 30px;
    display: flex;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
}

.apartment-filtrs {
    display: flex;
    align-items: center;
}

.filtr-counts__element {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-right: solid 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        background: $greenV4;
        transition: all ease 0.3s;
        color: $white;
    }

    &:last-child {
        border-right: none;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

}

.filtr-counts__element--big {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    width: auto;
    padding: 0 25px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.filtr-counts__element.activ {
    background: $greenV4;
    transition: all ease 0.3s;
    color: $white;
}

.price-counts__input {
    color: rgba(11, 35, 51, 0.8);

    width: 200px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 16px 15px;
    border: none;
    border-right: solid 1px rgba(0, 0, 0, 0.05);

    &::placeholder {
        color: rgba(11, 35, 51, 0.51);
    }

    &:first-child {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    &:last-child {
        border-right: none;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
}

.apartment-filtrs__clear-filtrs {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: $greenV1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    cursor: pointer;

    svg {
        display: block;
        transition: all ease 0.3s;
    }

    &:hover {
        background: $greenV2;
        transition: all ease 0.3s;

        svg {
            transform: scale(1.2);
            transition: all ease 0.3s;
        }
    }
}

.object-plans-sec__apartments-list {
    margin-top: 50px;
}

.apartments-claster {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-left: -15px;

    .apartment {
        width: calc(25% - 30px);
        margin: 0 15px 30px 15px;
    }
}

.apartments-claster--v2 {
    margin-top: 50px;

    .apartment-v2 {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.apartment {
    border-radius: 10px;
    background: #F6F6F6;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    padding: 25px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.apartment__title {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $darkBlueV3;
    font-family: $titleFont;
    margin-bottom: 10px;
}

.apartment__prise {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: $greenV1;
    text-align: center;
    margin-bottom: 25px;
}

.apartment__img-wrapper {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.apartment__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.apartment__char-list {
    display: flex;
    flex-wrap: wrap;
}

.apartment__char {
    padding-right: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $greyV1;
    font-family: $titleFont;
    margin-right: 6px;
    margin-bottom: 10px;

    &::before {
        width: 3px;
        height: 3px;
        background: $greyV1;
        border-radius: 100px;
        position: absolute;
        right: 0;
        content: "";
    }

    &:last-child {
        &::before {
            opacity: 0;
            padding-right: 0;
        }
    }
}

.apartment__down {
    padding-top: 30px;
}

.apartment__btn {
    background: $greyV2;
    color: $darkBlueV3;
    padding: 16px 0;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        background: $greenV4;
        transition: all ease 0.3s;
        color: $white;
    }
}


.apartments-claster__load-more-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

.apartments-claster__load-more {
    font-size: 16px;
    padding: 15px 35px;
    border-radius: 10px;
    color: $white;
    background: $greenV4;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        background: $greenV2;
        transition: all ease 0.3s;
    }
}


.apartments-no-result {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #f0f0f0;
    background: #f9f9f9;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.apartments-no-result__warn {
    display: flex;
    align-items: center;

    svg {
        display: block;
        margin-right: 25px;
        width: 70px;
        height: auto;
    }
}

.apartments-no-result__text {
    font-size: 18px;
    font-weight: 500;
    color: $darkBlueV1;
}

.object-offers-sec {
    padding-bottom: 100px;
}


.object-offers-sec__wrapper {
    margin-top: 50px;
    width: calc(100% + 30px);
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;

    .offer {
        width: calc(25% - 30px);
        margin: 0 15px 30px 15px;
    }
}

.object-offers-sec__wrapper-v2 {
    margin-top: 50px;

    .offer-v2 {
        margin-bottom: 30px;

    }
}



.offer {
    border-radius: 10px;
    background: #F6F6F6;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    padding: 20px;
    position: relative;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer__img {
    width: 100%;
    display: block;
}

.offer__wrapper {
    position: absolute;
    border-radius: 9px;
    background: rgba(154, 164, 178, 0.88);
    backdrop-filter: blur(5.5px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer__icon-wrapper {
    background: $greenV4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 0 auto;

    svg {
        display: block;
    }
}

.offer__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.offer__btn {
    border-radius: 100px;
    background: $white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    padding: 12px 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $greyV1;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.3s;

    &:hover {
        background: $darkBlueV1;
        color: $white;
        transition: all ease 0.3s;
    }
}

.object-gallery-sec {
    padding-bottom: 130px;
    overflow: hidden;
    width: 100%;
}

.object-gallery-sec__slider-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.swiper-button {
    border-radius: 12px;
    border: 1px solid #EEF0F2;
    background: #FFF;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    cursor: pointer;

    svg {
        display: block;
    }
}

.gallery-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.gallery-slider-swiper__img {
    display: block;
    height: 700px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all ease 0.7s;
}

.gallery-slider {
    margin-left: -220px;
    width: calc(1305px * 3);

    .gallery-slider-swiper__prev {
        left: calc(50% - 30px - 652px + 15px);
    }

    .gallery-slider-swiper__next {
        right: calc(50% - 30px - 652px + 15px);
    }

    .swiper-slide {
        .gallery-slider-swiper__img {
            opacity: 0.4;
        }
    }

    .swiper-slide-next {
        .gallery-slider-swiper__img {
            opacity: 1;
        }
    }
}

.object-features-sec {
    padding-bottom: 130px;
}

.object-features-sec__gallery-slider {
    margin-top: 50px;
    display: flex;
    position: relative;
    align-items: center;

    .features-slider-swiper__next {
        right: -30px;
    }

    .features-slider-swiper__prev {
        left: -30px;
    }
}

.features-slider-swiper__slide-wrapper {
    position: relative;
    width: 100%;
    height: 393px;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
        .features-slider-swiper__slide-img {
            transform: scale(1.03);
            transition: all ease 0.3s;
        }
    }
}

.features-slider-swiper__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all ease 0.3s;

}

.features-slider-swiper__slide-info-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 25px 20px;
    height: 164px;
    transition: all ease 0.3s;
    background: linear-gradient(0deg, rgba(10, 37, 52, 0.00) 0.05%, rgba(10, 37, 52, 0.60) 100%);
}

.features-slider-swiper__slide-info-wrapper-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-family: $titleFont;
    color: $white;
}

.features-slider-swiper__slide-info-wrapper-text {
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: $white;
    opacity: 0;
    overflow: hidden;
    transition: all ease 0.3s;
}

.features-slider-swiper__slide-btn {
    border-radius: 6px;
    width: 35px;
    height: 35px;
    background: $white;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20px;
    transition: all ease 0.3s;

    &:hover {
        background: $greenV4;
        transition: all ease 0.3s;

        .features-slider-swiper__slide-btn-line {
            background: $white;
            transition: all ease 0.3s;
        }
    }
}

.features-slider-swiper__slide-btn-line {
    width: 16px;
    height: 2px;
    position: absolute;
    border-radius: 10px;
    background: $greyV1;
    transition: all ease 0.3s;
}

.slide-btn-line--2 {
    transform: rotate(90deg);
}

.features-slider-swiper__slide-wrapper.activ {
    .slide-btn-line--2 {
        transform: rotate(0);
    }

    .features-slider-swiper__slide-info-wrapper {
        height: 100%;
        background: $greenV5;
    }

    .features-slider-swiper__slide-info-wrapper-text {

        opacity: 1;
    }
}

.object-finishing-sec {
    padding-bottom: 130px;
}

.object-finishing-sec__finishing-slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50px;

    .finishing-slider-swiper__next {
        right: -30px;
    }

    .finishing-slider-swiper__prev {
        left: -30px;
    }
}

.finishing-slider-swiper {
    width: 100%;
}

.finishing-slider-swiper__slide-img {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.finishing-slider-swiper__slide-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-top: 15px;
    color: $darkBlueV3;
}

.object-reviews-sec {
    padding-bottom: 130px;
}

.object-reviews-sec__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.object-reviews-sec__user-comments-container {
    width: 850px;
    max-height: 470px;
    overflow-y: auto;
    padding-right: 20px;
    position: relative;


}


.object-reviews-sec__user-comments-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background: #EDEDEF;
}

.object-reviews-sec__user-comments-container::-webkit-scrollbar-track {

    border-radius: 10px;
}

.object-reviews-sec__user-comments-container::-webkit-scrollbar-thumb {
    background-color: $greenV4;
    border-radius: 10px;

}

.user-comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E9EAEC;
    background: #FFF;
}

.user-comment__image {
    display: block;
    width: 84px;
    height: 84px;
    border-radius: 100px;
    border: 1px solid #E9EAEC;
}

.user-comment__data {
    width: calc(100% - 84px);
    padding-left: 20px;
}

.user-comment__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-comment__name {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: $darkBlueV3;
}

.user-comment__rate-row {
    display: flex;
    align-items: center;
}

.user-comment__rate-counts {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: $greyV1;
    margin-right: 4px;

    span {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        color: $greenV1;
    }
}

.user-comment__rate-stars {
    display: flex;
    align-items: center;

    svg {
        margin-left: 10px;
        display: block;
    }
}

.user-comment__body {
    margin-top: 10px;
}

.user-comment__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $greyV1;
}

.user-comment__read-more-btn {
    margin-top: 17px;
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    background: $greyV2;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $darkBlueV3;
    padding: 6px 12px;


    svg {
        margin-left: 7px;
        display: block;
        transition: all ease 0.3s;
    }
}

.user-comment__read-more-btn.activ {
    svg {
        transform: rotate(180deg);
    }
}

.user-comment__text-wrapper {
    max-height: 70px;
    transition: all ease 0.3s;
    overflow: hidden;
    position: relative;
}

.user-comment__text-wrapper.have-read-more {
    &::before {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 10px;
        content: "";
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);


    }
}


.object-reviews-sec__form-container {
    width: 600px;
}

.object-reviews-sec__form-container-input {
    margin-bottom: 15px;

    input {
        width: 100%;
        border-radius: 6px;
        border: 1px solid #EDEDEF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        padding: 15px;
        transition: all ease 0.3s;
        color: $darkv1;

        &::placeholder {
            color: $greyV1;
        }

        &:hover,
        &:focus {
            border: solid 1px $greenV4;
            transition: all ease 0.3s;
        }
    }


}

.object-reviews-sec__form-container-textarea {
    margin-bottom: 30px;

    textarea {
        width: 100%;
        border-radius: 6px;
        border: 1px solid #EDEDEF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        padding: 15px;
        transition: all ease 0.3s;
        color: $darkv1;
        resize: none;
        height: 160px;

        &::placeholder {
            color: $greyV1;
        }

        &:hover,
        &:focus {
            border: solid 1px $greenV4;
            transition: all ease 0.3s;
        }
    }
}

.object-reviews-sec__form-container-btn {
    input {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        padding: 15px 35px;
        background: $greenV4 ;
        display: inline-block;
        cursor: pointer;
        color: $white;
        border: none;
        border-radius: 10px;
        transition: all ease 0.3s;

        &:hover {
            background: $greenV2;
            transition: all ease 0.3s;
        }
    }
}

.object-developer-sec {
    padding-bottom: 130px;
}

.object-developer-sec__wrapper {
    padding: 40px;
    background: #F9F9F9;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.object-developer-sec__img-wrapper {
    display: block;
    border-radius: 6px;
    border: 1px solid rgba(20, 174, 92, 0.10);
    background: $white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    width: 135px;
    height: 135px;
    border-radius: 10px;

}

.object-developer-sec__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.object-developer-sec__data {
    width: calc(100% - 135px);
    padding-left: 40px;
}

.object-developer-sec__data-header {
    display: flex;
    align-items: center;
}

.object-developer-sec__data-name {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: $titleFont;
}

.object-developer-sec__data-name-link {
    color: $darkBlueV3;
    transition: all ease 0.3s;

    &:hover {
        color: $greenV1;
        transition: all ease 0.3s;
    }
}

.object-developer-sec__data-icon-link {
    display: block;
    margin-left: 24px;
    background: $white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.10));
    width: 35px;
    height: 35px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: block;
    }
}

.object-developer-sec__data-char-list {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.object-developer-sec__data-char {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.object-developer-sec__data-char-value {
    border-radius: 10px;
    border: 1px solid #EEF0F2;
    width: 60px;
    height: 60px;
    background: $greenV4;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.object-developer-sec__data-char-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding-left: 15px;
    padding-right: 25px;
    font-family: $titleFont;
    color: $darkBlueV3;
}

.object-developer-sec__data-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    color: $greyV1;
    margin-top: 30px;
}

.object-simmilar-sec {
    padding-bottom: 100px;
}

.object-simmilar-sec__simmilar-slider {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 50px;

    .simmilar-slider-swiper__next {
        right: -110px;
    }

    .simmilar-slider-swiper__prev {
        left: -110px;
    }
}

.object-reviews-sec__title {
    display: none;
}






@media only screen and (max-width: 1725px) {
    .object-simmilar-sec__simmilar-slider {
        .simmilar-slider-swiper__next {
            right: -30px;
            top: 70px;
        }

        .simmilar-slider-swiper__prev {
            left: -30px;
            top: 70px;
        }
    }
}


@media only screen and (max-width: 1540px) {
    .object-header-sec {
        padding-top: 180px;
    }

    .object-header-sec__title {
        font-size: 36px;
    }

    .object-header-sec__description {
        .object-header-sec__description-text {
            font-size: 16px;
        }

        .object-header-sec__description-text {
            font-size: 16px;
        }
    }

    .object-preview-sec__wrapper {
        height: 600px;
    }

    .object-preview-sec__container {
        padding: 30px;
    }

    .object-preview-sec__price {
        font-size: 20px;

        span {
            font-size: 20px;
        }
    }

    .object-preview-sec__char-box-value {
        font-size: 16px;
    }

    .object-preview-sec__btn {
        padding: 15px 20px;
        font-size: 14px;
    }

    .object-nav-sec__link {
        padding: 5px 10px;
    }

    .object-char-sec {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .object-title-sec {
        font-size: 32px;
    }

    .object-char-sec__element-value {
        font-size: 16px;
    }

    .object-char-sec__element-value--spall {
        font-size: 14px;
    }

    .object-char-sec__wrapper {
        margin-top: 40px;
    }

    .object-description-sec__wrapper {
        margin-top: 40px;
    }

    .object-description-sec__text-btn-wrapper {
        margin-top: 0px;
    }

    .object-description-sec {
        padding-bottom: 100px;
    }

    .object-location-sec__maps-wrapper {
        height: 600px;
    }

    .object-location-sec {
        padding-bottom: 100px;
    }

    .price-counts__input {
        width: 180px;
    }

    .apartments-claster {
        .apartment {
            // width: calc(33.333% - 30px);
        }
    }

    .apartment__img-wrapper {
        height: 190px;
        margin-bottom: 15px;
    }

    .apartment__title {
        font-size: 18px;
    }

    .apartment__char {
        font-size: 12px;
    }

    .apartment__btn {
        font-size: 14px;
        padding: 13px 0;
    }

    .apartment__down {
        padding-top: 15px;
    }

    .apartment__prise {
        margin-bottom: 20px;
    }

    .object-plans-sec {
        padding-bottom: 100px;
    }

    .offer {
        height: 417px;
    }

    .gallery-slider {
        width: 3600px;
        margin-left: -70px;
    }

    .gallery-slider-swiper__img {
        height: 650px;
    }

    .gallery-slider {
        .gallery-slider-swiper__prev {
            left: calc(50% - 30px - 585px + 0px);
        }

        .gallery-slider-swiper__next {

            right: calc(50% - 30px - 585px + 0px);
        }
    }

    .object-gallery-sec__slider-wrapper {
        margin-top: 40px;
    }

    .object-gallery-sec {
        padding-bottom: 100px;
    }

    .object-features-sec {
        padding-bottom: 100px;
    }

    .object-reviews-sec__user-comments-container {
        width: 60%;
    }

    .object-reviews-sec__form-container {
        width: 37%;
    }

    .object-reviews-sec {
        padding-bottom: 100px;
    }

    .object-developer-sec {
        padding-bottom: 100px;
    }

    .object-developer-sec__data-char-text {
        font-size: 14px;
    }

    .object-developer-sec__data-char-value {
        font-size: 15px;
        width: 50px;
        height: 50px;
    }

    .object-developer-sec__data-name {
        font-size: 26px;
    }

    .object-developer-sec__data-description {
        font-size: 16px;
    }

    .object-developer-sec__wrapper {
        padding: 30px;
    }

    .object-simmilar-sec {
        padding-bottom: 80px;
    }

    .object-finishing-sec {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 1280px) {
    .object-header-sections-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .object-header-sec {
        width: 100%;
        order: 1;
        padding-top: 0;
        padding-bottom: 80px;

        .container {
            flex-wrap: wrap;
        }

        .object-preview-sec__btn {
            display: inline-block;
            margin-top: 20px;
        }
    }

    .object-preview-sec {
        width: 100%;
        padding-top: 130px;
        padding-bottom: 50px;
    }

    .object-preview-sec__wrapper {
        border-radius: 10px;
        height: 400px;
    }

    .object-preview-sec__price-value {
        .object-preview-sec__btn {
            display: none;
        }
    }

    .object-preview-sec__row {
        flex-wrap: wrap;
    }

    .object-preview-sec__char-row {
        order: 1;
        width: 100%;
        justify-content: space-between;
    }

    .object-preview-sec__price-value {
        width: 100%;
        margin-bottom: 20px;
        justify-content: flex-end;
    }

    .object-preview-sec__price {
        margin-right: 0;
        width: 25%;
        text-align: center;
    }

    .object-preview-sec__char-box {
        margin: 0 auto;
        width: calc(25% - 10px);
        padding-left: 10px;
        padding-right: 10px;
    }

    .object-preview-sec__container {
        padding: 20px;
    }

    .object-preview-sec__char-box-value {
        font-size: 14px;
    }

    .object-header-sec__title {
        width: 100%;
        font-size: 30px;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .object-header-sec__description {
        width: 100%;
    }

    .object-nav-sec {
        display: none;
    }

    .object-char-sec {
        padding-top: 0;
        padding-bottom: 80px;
    }

    .object-title-sec {
        font-size: 28px;
    }

    .object-char-sec__element {

        width: calc(50% - 24px);
    }

    .object-char-sec__element-value {
        font-size: 16px;
    }

    .object-description-sec__wrapper {
        margin-top: 30px;
    }

    .object-location-sec__data-value {
        font-size: 14px;
    }

    .object-location-sec__maps-wrapper {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0;
        overflow: visible;
    }

    .object-location-sec__data {
        position: relative;
        top: auto;
        left: auto;
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .map-filtrs {
        position: relative;
        top: auto;
        left: auto;
        order: 3;
        width: 100%;
        margin-top: 20px;

    }

    .map__radio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .map-object {
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
    }

    .map-radio-input {
        width: 33.333%;

    }

    .object-location-sec {
        padding-bottom: 80px;
    }

    .apartment-filtrs {
        flex-wrap: wrap;
    }

    .apartment-filtrs__element {
        margin-bottom: 30px;
    }

    .apartment-filtrs__clear-filtrs {
        margin-bottom: 30px;
    }

    .apartments-claster {
        margin-top: 0;
    }

    .apartments-claster {
        .apartment {

            width: calc(50% - 30px);

        }
    }

    .object-plans-sec {
        padding-bottom: 80px;
    }

    .object-offers-sec__wrapper {
        margin-top: 40px;
    }

    .object-offers-sec__wrapper {
        .offer {
            width: calc(50% - 30px);
        }
    }

    .object-offers-sec {
        padding-bottom: 80px;
    }

    .gallery-slider-swiper__img {
        height: 450px;
        border-radius: 15px;
    }

    .gallery-slider {
        width: 2440px;
        margin-left: 17px;

        .gallery-slider-swiper__prev {

            left: calc(50% - 30px - 384px - 5px);
        }

        .gallery-slider-swiper__next {

            right: calc(50% - 30px - 384px - 5px);
        }
    }

    .features-slider-swiper__slide-info-wrapper-title {
        font-size: 16px;
    }

    .features-slider-swiper__slide-info-wrapper-text {
        font-size: 14px;
    }

    .features-slider-swiper__slide-wrapper {
        height: 330px;
    }

    .object-gallery-sec {
        padding-bottom: 80px;
    }

    .object-features-sec {
        padding-bottom: 80px;
    }

    .object-finishing-sec {
        padding-bottom: 80px;
    }

    .object-reviews-sec__user-comments-container {
        width: 100%;
    }

    .object-reviews-sec__wrapper {
        margin-top: 40px;
    }

    .object-reviews-sec__form-container {
        width: 100%;
        margin-top: 20px;
    }

    .object-developer-sec__img-wrapper {
        width: 100px;
        height: 100px;
    }

    .object-developer-sec__data {
        width: calc(100% - 100px);
        padding-left: 30px;
    }

    .object-developer-sec__data-char-list {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .object-developer-sec__data-char {
        width: calc(50% - 10px);
        margin: 0;
        margin-bottom: 20px;
    }

    .object-developer-sec__data-description {
        margin-top: 10px;
    }

    .object-reviews-sec {
        padding-bottom: 80px;
    }

    .object-developer-sec {
        padding-bottom: 80px;
    }

    .object-description-sec {
        padding-bottom: 80px;
    }


    .apartments-claster--v2 {
        margin-top: 0;

        .apartment-v2 {
            margin-bottom: 20px;
        }
    }

    .apartments-claster__load-more-btn {
        margin-top: 40px;
    }

    .apartments-claster__load-more {
        font-size: 14px;
        padding: 13px 30px;
    }

    .apartments-no-result {
        height: 150px;
    }
}

@media only screen and (max-width: 780px) {

    .object-preview-sec {
        padding-top: 70px;
        padding-bottom: 30px;

        .container {
            width: 100%;
        }
    }

    .object-preview-sec__wrapper {
        height: 454px;
        border-radius: 0;
    }

    .object-preview-sec__container {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .object-preview-sec__row {
        width: 350px;
        padding: 0;
        margin: 0 auto;
    }

    .object-preview-sec__price {
        width: auto;
        text-align: right;
        font-size: 16px;

        span {
            font-size: 20px;
        }
    }

    .object-preview-sec__price-value {
        margin-bottom: 5px;
    }

    .object-preview-sec__char-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .object-preview-sec__char-box {
        width: calc(50% - 5px);
        margin: 0;
        margin-top: 10px;
    }

    .object-header-sec__title {
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }

    .object-header-sec__description {
        .object-header-sec__description-text {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    }

    .object-preview-sec__btn {
        width: 100%;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 16px 0;
        text-align: center;
        margin-top: 45px;
    }

    .object-title-sec {
        font-size: 26px;
    }

    .object-char-sec__wrapper {
        margin-top: 35px;
        width: 100%;
        margin-left: 0;
    }

    .object-char-sec__element {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .object-char-sec__element-value {
        font-size: 16px;
    }

    .object-char-sec__element-value--spall {
        font-size: 16px;
    }

    .object-description-sec__wrapper {
        margin-top: 35px;
    }

    .object-description-sec__text-btn-wrapper {
        padding-top: 20px;
        margin-top: 20px;
    }

    .object-description-sec__text-btn {
        padding: 10px 15px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;


    }

    .object-location-sec__maps-wrapper {
        margin-top: 35px;
    }

    .object-location-sec {
        .container {
            width: 100%;
        }
    }

    .object-location-sec__title {
        width: 350px;
        margin: 0 auto;
    }

    .map-object {
        height: 600px;
    }

    .object-location-sec__switch {
        width: 350px;
        left: calc(50% - 175px);
        top: 27px;
    }

    .object-location-sec__switch-element {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        padding: 12px 0;
    }

    .object-location-sec__data {
        width: 350px;
        margin: 0 auto;
        margin-top: 15px;
        background: none;
        border-radius: 0;
        box-shadow: none;
    }

    .object-location-sec__data-element {
        border: none;
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
        padding: 10px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .map-filtrs {
        width: 350px;
        margin: 0 auto;
        margin-top: 15px;
        background: none;
        border-radius: 0;
        box-shadow: none;
    }

    .map-radio-input {
        border: none;
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .price-counts__input {
        width: 50%;
    }

    .apartment-filtrs__element {

        margin-right: 0;
        margin-bottom: 15px;
    }

    .apartment-filtrs {
        justify-content: space-between;
    }

    .filtr-counts {
        order: 0;
    }

    .apartment-filtrs__clear-filtrs {
        order: 1;
        margin-bottom: 15px;
    }

    .price-counts {
        order: 2;
        width: 100%;
    }

    .level-counts {
        width: 100%;
        order: 3;
    }

    .filtr-counts__element--big {
        padding-left: 12px;
        padding-right: 12px;
    }


    .object-plans-sec__wrapper {
        margin-top: 35px;
    }

    .apartments-claster {
        margin-top: 15px;
        margin-left: 0;
        width: 100%;

        .apartment {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .apartment__img-wrapper {
        height: 250px;
    }

    .apartment__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .apartment__prise {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .apartment__char {
        font-size: 14px;
    }

    .apartment__down {
        padding-top: 20px;
    }

    .object-plans-sec {
        padding-bottom: 50px;
    }

    .object-offers-sec__wrapper {
        width: 100%;
        margin-top: 35px;
        margin-left: 0;

        .offer {
            margin: 0 0 30px 0;
            width: calc(100%);
        }
    }

    .object-offers-sec {
        padding-bottom: 50px;
    }

    .object-gallery-sec__slider-wrapper {
        margin-top: 35px;
    }

    .gallery-slider {
        width: 1095px;
        margin-left: 0;

        .gallery-slider-swiper__next {
            right: calc(50% - 20px - 175px - 0px);
        }

        .gallery-slider-swiper__prev {
            left: calc(50% - 20px - 175px - 0px);
        }

        .swiper-button {
            width: 40px;
            height: 40px;

            svg {
                width: 8px;
                height: auto;
            }
        }
    }

    .gallery-slider-swiper__img {
        height: 240px;
        border-radius: 15px;


    }

    .object-features-sec__gallery-slider {
        margin-top: 35px;
        padding-bottom: 38px;
    }

    .object-features-sec {
        overflow: hidden;

        .container {
            width: 100%;
        }
    }

    .object-features-sec__title {
        margin: 0 auto;
        width: 350px;
    }

    .features-slider-swiper {
        width: 100%;

        .swiper-slide {
            width: 286px;
        }


    }

    .features-slider-swiper__next,
    .features-slider-swiper__prev {
        display: none;
    }

    .features-slider-swiper__slide-wrapper {
        height: 393px;
    }



    .scrollbar-slider {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.10);
        height: 8px;
        position: absolute;
        z-index: 20;
        bottom: 0;
        width: 350px;
        left: calc(50% - 175px);


        .swiper-scrollbar-drag {
            background: $greenV4;
            height: 100%;
            border-radius: 100px;
        }
    }

    .features-slider-swiper__slide-info-wrapper-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .object-finishing-sec__finishing-slider {
        margin-top: 35px;
    }

    .object-finishing-sec__title {
        width: 350px;
        margin: 0 auto;
    }

    .object-finishing-sec {
        overflow: hidden;

        .container {
            width: 100%;
        }
    }

    .finishing-slider-swiper {
        .swiper-slide {
            width: 286px;
        }
    }

    .object-finishing-sec__finishing-slider {
        padding-bottom: 38px;
        position: relative;

        .swiper-button {
            display: none;
        }
    }

    .finishing-slider-swiper__slide-img {
        height: 335px;
        border-radius: 10px;
    }

    .finishing-slider-swiper__slide-title {
        font-size: 20px;
        line-height: 100%;
        margin-top: 20px;
    }

    .object-reviews-sec__wrapper {
        margin-top: 35px;
    }

    .user-comment {
        padding: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .user-comment__data {
        display: contents;
    }

    .user-comment__header {
        width: calc(100% - 84px);
        padding-left: 16px;
        flex-wrap: wrap;
    }

    .user-comment__name {
        margin-bottom: 15px;
    }

    .user-comment__rate-row {
        flex-wrap: wrap;
    }

    .user-comment__rate-counts {
        width: 100%;
        order: 1;
        margin-top: 15px;
    }

    .user-comment__rate-stars svg {
        margin-left: 0;
        margin-right: 10px;
    }

    .object-reviews-sec__user-comments-container {
        max-height: 100000px;
        overflow-y: auto;
        padding-right: 0;
    }

    .object-reviews-sec__form-container {
        margin-top: 50px;
    }

    .object-reviews-sec__title {
        display: block;
        color: rgba(15, 19, 36, 0.60);

        margin-bottom: 25px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    .object-developer-sec__wrapper {
        padding: 15px;
        flex-wrap: wrap;
        border-radius: 15px;
        align-items: center;
    }

    .object-developer-sec__data {
        display: contents;
    }

    .object-developer-sec__img-wrapper {
        width: 90px;
        height: 90px;
    }

    .object-developer-sec__data-header {
        width: calc(100% - 90px);
        padding-left: 13px;
    }

    .object-developer-sec__data-name {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: calc(100% - 24px - 5px);

    }

    .object-developer-sec__data-icon-link {
        margin-left: 0;
    }

    .object-developer-sec__data-char-list {
        margin-top: 20px;
    }

    .object-developer-sec__data-char {
        width: 100%;
        margin-bottom: 10px;
    }

    .object-simmilar-sec__simmilar-slider {
        margin-top: 35px;
    }


    .object-simmilar-sec__simmilar-slider {
        padding-bottom: 38px;
        position: relative;

        .swiper-button {
            display: none;
        }
    }

    .simmilar-slider-swiper {
        .swiper-slide {
            width: 350px;
        }
    }

    .object-simmilar-sec__title {
        width: 350px;
        margin: 0 auto;
    }

    .object-simmilar-sec {
        overflow: hidden;

        .container {
            width: 100%;
        }
    }

    .object-simmilar-sec {
        padding-bottom: 60px;
    }

    .apartments-claster--v2 {
        margin-top: 10px;

        .apartment-v2 {
            margin-bottom: 30px;
        }
    }

    .apartments-no-result__warn {
        flex-wrap: wrap;
        justify-content: center;

        svg {
            margin-right: 0;
            margin-bottom: 20px;
            width: 50px;
        }
    }

    .apartments-no-result__text {
        text-align: center;
        font-size: 16px;
        padding: 0 10px 0 10px;
    }

    .apartments-no-result {
        border-radius: 15px;
    }
}