$mainFont: "Montserrat", sans-serif;
$titleFont: 'Audi Type Extended';


$white: #fff;

$greyV1: #9AA4B2;
$greyV2: #E6E9ED;

$greenV1: #3BB67D;
$greenV2: #61CE70;
$greenV3: #95ED95;
$greenV4: #85D2A9;
$greenV5: #96C4AC;
$greenV6: #DBFCE7;

$darkv1: #3D484E;

$darkBlueV1: #0B2333;
$darkBlueV2: #0E2230;
$darkBlueV3: #1C274C;