@import "vars";
@import "fonts";
@import "libs";
@import "mixins";

@import "sourse";

//components
@import "components/wp-text";
@import "components/object-card";
@import "components/apartment_obj";
@import "components/developer-card";
@import "components/map-objects";
@import "components/apartments-v2";
@import "components/filtr";
@import "components/filtrs-objects";
@import "components/preloader";
@import "components/map-objects-page";
@import "header";
@import "footer";


//modals
@import "modals/auth";



//pages
@import "home";

@import "blog";
@import "post";

@import "object";
@import "objects-list";

@import "developers";
@import "developer";

@import "apartments";
@import "apart-page";


//libs
@import "popups";